<div class="sidebar">
        <table class="table-bordered table-condensed table-striped" >
          <thead class="">
            <tr>
              <th>名称</th>
              <th>所在地</th>
            </tr>
          </thead>
        
          <tbody>
            <% @hospitals.each do |hospital| %>
              <tr>
                <td><%= link_to hospital.name, { :controller => :home, :action => :detail , :id => hospital.id } %></td>
                <td><%= hospital.address %></td>
              </tr>
            <% end %>
            
          </tbody>
        </table>
    </div> 