<%= render 'header' %>
<div class="about-article">
    <h1 >このサイトについて</h1>
    <h2>・夜間病院の受診に、必要な知識のない人が多い現状</h2>
    <p class="about-param">夕方から夜にかけて診察を行なっている夜間診療。仕事が忙しくて日中の受診が難しい、
        夜になってから急な症状が出てきたときなども対応してもらえる病院があります。
        その数は都内だけでも200ヶ所以上もあり、住民の生活の安心と健康に寄与しています。
    <p>(平成30年時点・東京福祉保健局HPより)</p><br>
    <p>しかし、夜間病院は日中診察している病院と異なる点が多々あるのですが、それが認知されて
        いないのが現状です。そのため、患者側と病院側で意見が食い違ったりして、受診に支障を
        きたすことが現場ではよくあるのです。
    </p>    
    <h2>・正しい知識をもって、適切に受診してもらう</h2>
    <p class="about-param">「郷に入っては郷に従え」ではないですが、各病院でもそれぞれルールがあるので、
        それを知って頂くことでスムーズに受診していただけるのではないか？
        それがこのサイトの趣旨です。
    </p>
</div>
<%= render 'footer' %>