<%= render 'header' %>
<div class="toptopic">
    <h1 class="top-detail"><center>夜間診療に必要な情報を調べる</h1>
    <p>地図から病院を探すことができます。選ぶと詳細な情報を知ることができます。</center></p>
    
    <ul>
</div>
<%= render 'footer' %>