/*====================↓toppageのcss↓=====================*/

.topimage{
	text-align: left;
}

.toptopic{
	min-height:500px;
}

.toptopicsocond{
	min-height:800px;
}



.header{
	background-color: #4e6ea0;
	position: fixed;
	width: 100% ;

	
}

.toplogo{
	height: 30px;
}