/*====================↓toppageのcss↓=====================*/

.topimage{
	text-align: left;
}

.toptopic{
	color: #aaa;
	padding: 50px;
}

.toptopicsocond{
	min-height:800px;
}


.header{
	background-color: #a0c4ff;
	
	height:100px;
	width: 100% ;
}

.toplogo{
	height: 30px;
}

#footer {
	width: 100%;
	margin: 0;
	padding: 15px 0;
	text-align: left;
	clear:both;
	background: #a0c4ff;
}

a {
	padding: 0.1em 0.3em 0em 0.3em;
	background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(33,150,244,1) 50%);
	background-position: 0 0;
	background-size: auto 200%;
	transition: .3s;
	color: #2196f4;
}
a:hover {
	background-position: 0 100%;
	color: #fff;
}